{
  "openapi": "3.0.0",
  "info": {
    "title": "Blueticks API",
    "version": "1.0.0",
    "description": "Public API for Blueticks WhatsApp automation."
  },
  "servers": [
    {
      "url": "https://api.blueticks.co"
    }
  ],
  "tags": [
    {
      "name": "Account"
    },
    {
      "name": "Audiences"
    },
    {
      "name": "Campaigns"
    },
    {
      "name": "Chats"
    },
    {
      "name": "Contacts"
    },
    {
      "name": "Engines"
    },
    {
      "name": "Groups"
    },
    {
      "name": "Messages"
    },
    {
      "name": "Newsletters"
    },
    {
      "name": "ScheduledMessages"
    },
    {
      "name": "Webhooks"
    }
  ],
  "paths": {
    "/v1/account": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get account",
        "description": "Retrieve the account the API key belongs to.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Stable identifier for the account."
                    },
                    "name": {
                      "type": "string",
                      "description": "Account display name."
                    },
                    "timezone": {
                      "type": "string",
                      "nullable": true,
                      "description": "IANA timezone (e.g. \"America/New_York\"), or null if unset."
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "RFC 3339 timestamp of account creation."
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "timezone",
                    "created_at"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "List messages",
        "description": "List messages sent through the API, newest first (cursor-paginated).",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            },
            "required": false
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ]
      },
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Send message",
        "description": "Send a message via WhatsApp. The body is a discriminated union — set the `type` field to one of `text`, `media`, or `poll`.\n\n**Variants:**\n\n- `type: \"text\"` — required `text` (1–4096 chars). Example body:\n  ```json\n  {\"type\":\"text\",\"to\":\"+15551234567\",\"text\":\"hello\"}\n  ```\n- `type: \"media\"` — required `media.url` (HTTPS). Optional `media.kind` (`image` · `video` · `audio` · `document` · `sticker` · `voice`; auto-detected when omitted), `media.caption`, `media.filename`. Example:\n  ```json\n  {\"type\":\"media\",\"to\":\"+15551234567\",\"media\":{\"url\":\"https://cdn.example.com/x.pdf\",\"kind\":\"document\",\"filename\":\"receipt.pdf\"}}\n  ```\n- `type: \"poll\"` — required `poll.question` and `poll.options` (2–12 items). Optional `poll.allow_multiple` (default false). Example:\n  ```json\n  {\"type\":\"poll\",\"to\":\"+15551234567\",\"poll\":{\"question\":\"Pizza?\",\"options\":[\"Yes\",\"No\"]}}\n  ```\n\nAll variants accept optional `send_at` (ISO 8601 ≥10s future, ≤365d), `from` (E.164 sender for multi-session workspaces), and `reply_to` (wire `key` of a prior message to quote).\n\nSee [Sending messages](/docs/messages) for runnable Python / Node / PHP / cURL examples per variant.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "text"
                        ]
                      },
                      "text": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 4096
                      },
                      "link_preview": {
                        "anyOf": [
                          {
                            "type": "boolean"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 255
                              },
                              "description": {
                                "type": "string",
                                "maxLength": 2048
                              },
                              "canonical_url": {
                                "type": "string",
                                "format": "uri",
                                "maxLength": 2048
                              },
                              "thumbnail": {
                                "type": "string",
                                "maxLength": 200000
                              }
                            },
                            "required": [
                              "title"
                            ],
                            "additionalProperties": false
                          }
                        ],
                        "description": "Controls the rich-preview card rendered under a URL in the text. true (default) → auto-fetch when a URL is present. false → never attach a preview. object → use the caller-supplied preview verbatim."
                      },
                      "to": {
                        "type": "string"
                      },
                      "send_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "from": {
                        "type": "string",
                        "pattern": "^\\+[1-9]\\d{6,14}$"
                      },
                      "reply_to": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 256,
                        "description": "Wire `key` of a prior message to quote-reply (from MessageResponse.key)."
                      }
                    },
                    "required": [
                      "type",
                      "text",
                      "to"
                    ],
                    "additionalProperties": false,
                    "title": "Text"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "media"
                        ]
                      },
                      "media": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "format": "uri",
                            "maxLength": 2048
                          },
                          "kind": {
                            "type": "string",
                            "enum": [
                              "image",
                              "video",
                              "audio",
                              "document",
                              "sticker",
                              "voice"
                            ],
                            "description": "Media kind. Optional — falls back to engine auto-detection from URL/Content-Type."
                          },
                          "caption": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 1024
                          },
                          "filename": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255
                          }
                        },
                        "required": [
                          "url"
                        ],
                        "additionalProperties": false
                      },
                      "to": {
                        "type": "string"
                      },
                      "send_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "from": {
                        "type": "string",
                        "pattern": "^\\+[1-9]\\d{6,14}$"
                      },
                      "reply_to": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 256,
                        "description": "Wire `key` of a prior message to quote-reply (from MessageResponse.key)."
                      }
                    },
                    "required": [
                      "type",
                      "media",
                      "to"
                    ],
                    "additionalProperties": false,
                    "title": "Media"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "poll"
                        ]
                      },
                      "poll": {
                        "type": "object",
                        "properties": {
                          "question": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255
                          },
                          "options": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 100
                            },
                            "minItems": 2,
                            "maxItems": 12
                          },
                          "allow_multiple": {
                            "type": "boolean",
                            "default": false
                          }
                        },
                        "required": [
                          "question",
                          "options"
                        ],
                        "additionalProperties": false
                      },
                      "to": {
                        "type": "string"
                      },
                      "send_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "from": {
                        "type": "string",
                        "pattern": "^\\+[1-9]\\d{6,14}$"
                      },
                      "reply_to": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 256,
                        "description": "Wire `key` of a prior message to quote-reply (from MessageResponse.key)."
                      }
                    },
                    "required": [
                      "type",
                      "poll",
                      "to"
                    ],
                    "additionalProperties": false,
                    "title": "Poll"
                  }
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "Idempotency-Key",
            "schema": {
              "type": "string",
              "maxLength": 64
            },
            "required": false,
            "description": "Optional key for safe retries. Identical bodies with the same key return the original response; differing bodies return 409."
          }
        ],
        "responses": {
          "200": {
            "description": "Idempotency replay",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "key": {
                      "type": "string",
                      "nullable": true
                    },
                    "to": {
                      "type": "string"
                    },
                    "from": {
                      "type": "string",
                      "nullable": true
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "text",
                        "media",
                        "poll"
                      ],
                      "description": "Message kind that was sent."
                    },
                    "text": {
                      "type": "string",
                      "nullable": true
                    },
                    "media_url": {
                      "type": "string",
                      "nullable": true
                    },
                    "media_kind": {
                      "type": "string",
                      "enum": [
                        "image",
                        "video",
                        "audio",
                        "document",
                        "sticker",
                        "voice"
                      ],
                      "nullable": true
                    },
                    "poll_question": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "scheduled",
                        "queued",
                        "sending",
                        "delivered",
                        "read",
                        "failed"
                      ]
                    },
                    "send_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "sent_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "delivered_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "read_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "failed_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "failure_reason": {
                      "type": "string",
                      "nullable": true
                    },
                    "link_preview": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "nullable": true
                        },
                        "description": {
                          "type": "string",
                          "nullable": true
                        },
                        "canonical_url": {
                          "type": "string",
                          "nullable": true
                        },
                        "thumbnail": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "required": [
                        "title",
                        "description",
                        "canonical_url",
                        "thumbnail"
                      ],
                      "additionalProperties": false,
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "key",
                    "to",
                    "from",
                    "type",
                    "text",
                    "media_url",
                    "media_kind",
                    "poll_question",
                    "status",
                    "send_at",
                    "created_at",
                    "sent_at",
                    "delivered_at",
                    "read_at",
                    "failed_at",
                    "failure_reason"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "key": {
                      "type": "string",
                      "nullable": true
                    },
                    "to": {
                      "type": "string"
                    },
                    "from": {
                      "type": "string",
                      "nullable": true
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "text",
                        "media",
                        "poll"
                      ],
                      "description": "Message kind that was sent."
                    },
                    "text": {
                      "type": "string",
                      "nullable": true
                    },
                    "media_url": {
                      "type": "string",
                      "nullable": true
                    },
                    "media_kind": {
                      "type": "string",
                      "enum": [
                        "image",
                        "video",
                        "audio",
                        "document",
                        "sticker",
                        "voice"
                      ],
                      "nullable": true
                    },
                    "poll_question": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "scheduled",
                        "queued",
                        "sending",
                        "delivered",
                        "read",
                        "failed"
                      ]
                    },
                    "send_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "sent_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "delivered_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "read_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "failed_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "failure_reason": {
                      "type": "string",
                      "nullable": true
                    },
                    "link_preview": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "nullable": true
                        },
                        "description": {
                          "type": "string",
                          "nullable": true
                        },
                        "canonical_url": {
                          "type": "string",
                          "nullable": true
                        },
                        "thumbnail": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "required": [
                        "title",
                        "description",
                        "canonical_url",
                        "thumbnail"
                      ],
                      "additionalProperties": false,
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "key",
                    "to",
                    "from",
                    "type",
                    "text",
                    "media_url",
                    "media_kind",
                    "poll_question",
                    "status",
                    "send_at",
                    "created_at",
                    "sent_at",
                    "delivered_at",
                    "read_at",
                    "failed_at",
                    "failure_reason"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages/{id}": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Get message",
        "description": "Get the current status of a message by ID.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "key": {
                      "type": "string",
                      "nullable": true
                    },
                    "to": {
                      "type": "string"
                    },
                    "from": {
                      "type": "string",
                      "nullable": true
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "text",
                        "media",
                        "poll"
                      ],
                      "description": "Message kind that was sent."
                    },
                    "text": {
                      "type": "string",
                      "nullable": true
                    },
                    "media_url": {
                      "type": "string",
                      "nullable": true
                    },
                    "media_kind": {
                      "type": "string",
                      "enum": [
                        "image",
                        "video",
                        "audio",
                        "document",
                        "sticker",
                        "voice"
                      ],
                      "nullable": true
                    },
                    "poll_question": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "scheduled",
                        "queued",
                        "sending",
                        "delivered",
                        "read",
                        "failed"
                      ]
                    },
                    "send_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "sent_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "delivered_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "read_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "failed_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "failure_reason": {
                      "type": "string",
                      "nullable": true
                    },
                    "link_preview": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "nullable": true
                        },
                        "description": {
                          "type": "string",
                          "nullable": true
                        },
                        "canonical_url": {
                          "type": "string",
                          "nullable": true
                        },
                        "thumbnail": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "required": [
                        "title",
                        "description",
                        "canonical_url",
                        "thumbnail"
                      ],
                      "additionalProperties": false,
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "key",
                    "to",
                    "from",
                    "type",
                    "text",
                    "media_url",
                    "media_kind",
                    "poll_question",
                    "status",
                    "send_at",
                    "created_at",
                    "sent_at",
                    "delivered_at",
                    "read_at",
                    "failed_at",
                    "failure_reason"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List webhooks",
        "description": "List webhooks in the workspace.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "Page size (default 50, max 200).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            },
            "required": false
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "Opaque cursor from a previous response's `next_cursor`.",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "enabled",
                        "disabled"
                      ]
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "url",
                    "events",
                    "description",
                    "status",
                    "created_at"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create webhook",
        "description": "Register a new webhook. Returns the signing secret exactly once.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 2048
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "message.queued",
                        "message.sending",
                        "message.delivered",
                        "message.failed",
                        "message.read",
                        "session.connected",
                        "session.disconnected",
                        "campaign.started",
                        "campaign.paused",
                        "campaign.resumed",
                        "campaign.completed",
                        "campaign.aborted",
                        "new_message_received_webhook",
                        "message_reaction_webhook",
                        "ack_changed_webhook",
                        "participant_joined_via_link_webhook",
                        "participant_added_by_admin_webhook",
                        "participant_left_group_webhook",
                        "participant_kicked_from_group_webhook",
                        "group_admin_changed_webhook",
                        "group_name_changed_webhook",
                        "group_description_changed_webhook",
                        "group_message_pinned_webhook",
                        "poll_vote_webhook",
                        "reply_to_my_message_webhook",
                        "message_deleted_revoked_webhook",
                        "message_edited_webhook"
                      ]
                    },
                    "minItems": 1
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 120
                  }
                },
                "required": [
                  "url",
                  "events"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "enabled",
                        "disabled"
                      ]
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "secret": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "url",
                    "events",
                    "description",
                    "status",
                    "created_at",
                    "secret"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/{id}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get webhook",
        "description": "Get a webhook by id.",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Update webhook",
        "description": "Update a webhook.",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete webhook",
        "description": "Delete a webhook.",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/audiences": {
      "get": {
        "tags": [
          "Audiences"
        ],
        "summary": "List audiences",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "Page size (default 50, max 200).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            },
            "required": false
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "Opaque cursor from a previous response's `next_cursor`.",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ]
      },
      "post": {
        "tags": [
          "Audiences"
        ],
        "summary": "Create audience",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/audiences/{id}": {
      "get": {
        "tags": [
          "Audiences"
        ],
        "summary": "Get audience",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Audiences"
        ],
        "summary": "Update audience",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Audiences"
        ],
        "summary": "Delete audience",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/campaigns": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "List campaigns",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "Page size (default 50, max 200).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            },
            "required": false
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "Opaque cursor from a previous response's `next_cursor`.",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ]
      },
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Create campaign",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/campaigns/{id}": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get campaign",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/chats": {
      "get": {
        "tags": [
          "Chats"
        ],
        "summary": "List chats",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "Page size (default 50, max 200).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            },
            "required": false
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "Opaque cursor from a previous response's `next_cursor`.",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ]
      }
    },
    "/v1/chats/{id}": {
      "get": {
        "tags": [
          "Chats"
        ],
        "summary": "Get chat",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/groups": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "List groups",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Groups"
        ],
        "summary": "Create group",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/groups/{id}": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Get group",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Groups"
        ],
        "summary": "Update group",
        "description": "Update group metadata. Provide at least one of `name` or `settings`. Requires `groups:write`.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "settings": {
                    "type": "object",
                    "properties": {
                      "announce": {
                        "type": "boolean"
                      },
                      "restrict": {
                        "type": "boolean"
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "nullable": true
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "owner": {
                      "type": "string",
                      "nullable": true
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "last_message_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "participant_count": {
                      "type": "integer",
                      "minimum": 0,
                      "nullable": true
                    },
                    "announce": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "restrict": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "participants": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "chat_id": {
                            "type": "string"
                          },
                          "is_admin": {
                            "type": "boolean"
                          },
                          "is_super_admin": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "required": [
                          "chat_id",
                          "is_admin",
                          "is_super_admin",
                          "name"
                        ],
                        "additionalProperties": false
                      },
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "description",
                    "owner",
                    "created_at",
                    "last_message_at",
                    "participant_count",
                    "announce",
                    "restrict",
                    "participants"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/newsletters": {
      "post": {
        "tags": [
          "Newsletters"
        ],
        "summary": "Create newsletter",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "List contacts",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "Page size (default 50, max 200).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            },
            "required": false
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "Opaque cursor from a previous response's `next_cursor`.",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ]
      }
    },
    "/v1/engines": {
      "get": {
        "tags": [
          "Engines"
        ],
        "summary": "Get engine status",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/scheduled-messages": {
      "get": {
        "tags": [
          "ScheduledMessages"
        ],
        "summary": "List scheduled messages",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "Page size (default 50, max 200).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            },
            "required": false
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "Opaque cursor from a previous response's `next_cursor`.",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ]
      }
    },
    "/v1/scheduled-messages/{id}": {
      "get": {
        "tags": [
          "ScheduledMessages"
        ],
        "summary": "Get scheduled message",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "ScheduledMessages"
        ],
        "summary": "Update scheduled message",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "ScheduledMessages"
        ],
        "summary": "Cancel scheduled message",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/webhooks/{id}/rotate-secret": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Rotate webhook secret",
        "description": "Rotate the signing secret. Returns the new secret exactly once. Requires `webhooks:write` scope.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "new secret",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "enabled",
                        "disabled"
                      ]
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "secret": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "url",
                    "events",
                    "description",
                    "status",
                    "created_at",
                    "secret"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/audiences/{id}/contacts": {
      "post": {
        "tags": [
          "Audiences"
        ],
        "summary": "Append contacts to audience",
        "description": "Append contacts to an audience. Duplicates (by `to`) are skipped. Requires `audiences:write`.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contacts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "to": {
                          "type": "string",
                          "description": "Recipient. Either +E164 phone (e.g. +14155551234) or a WhatsApp JID (e.g. 14155551234@c.us). Stored as +E164."
                        },
                        "variables": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string",
                            "maxLength": 1024
                          },
                          "description": "Per-contact substitution values used by campaign templates.\nEach key becomes a token usable as `{key}` in a campaign `text`. Lookup is case-insensitive (e.g. `{firstName}` resolves `firstname`).\nBuilt-in tokens always available regardless of variables: `{whatsappname}`, `{displayname}`, `{phone}`, `{mobile}`. Setting a variable with the same name overrides the built-in.\nStorage: keys are persisted as text-cell column titles on the audience board, so values flow back via audiences.get under the same names.\nLimits: at most 32 keys per contact; values up to 1024 chars; keys must match /^[A-Za-z_][A-Za-z0-9_]{0,31}$/."
                        }
                      },
                      "required": [
                        "to"
                      ],
                      "additionalProperties": false
                    },
                    "minItems": 1,
                    "maxItems": 1000
                  }
                },
                "required": [
                  "contacts"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "appended",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "added": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "contact_count": {
                      "type": "integer",
                      "minimum": 0
                    }
                  },
                  "required": [
                    "added",
                    "contact_count"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/audiences/{id}/contacts/{contactId}": {
      "patch": {
        "tags": [
          "Audiences"
        ],
        "summary": "Update audience contact",
        "description": "Edit a contact`s phone or variables. Requires `audiences:write`.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "to": {
                    "type": "string"
                  },
                  "variables": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string",
                      "maxLength": 1024
                    },
                    "description": "Per-contact substitution values used by campaign templates.\nEach key becomes a token usable as `{key}` in a campaign `text`. Lookup is case-insensitive (e.g. `{firstName}` resolves `firstname`).\nBuilt-in tokens always available regardless of variables: `{whatsappname}`, `{displayname}`, `{phone}`, `{mobile}`. Setting a variable with the same name overrides the built-in.\nStorage: keys are persisted as text-cell column titles on the audience board, so values flow back via audiences.get under the same names.\nLimits: at most 32 keys per contact; values up to 1024 chars; keys must match /^[A-Za-z_][A-Za-z0-9_]{0,31}$/."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "to": {
                      "type": "string"
                    },
                    "variables": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "added_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "to",
                    "variables",
                    "added_at"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Audiences"
        ],
        "summary": "Remove audience contact",
        "description": "Remove a contact from an audience. Requires `audiences:write`.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/campaigns/{id}/pause": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Pause campaign",
        "description": "Pause a running campaign. 409 if not `running`. Requires `campaigns:write`.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "paused",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "audience_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "running",
                        "paused",
                        "complete_sent",
                        "complete_delivered",
                        "aborted"
                      ]
                    },
                    "total_count": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "sent_count": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "delivered_count": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "read_count": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "failed_count": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "from": {
                      "type": "string",
                      "nullable": true
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "started_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "completed_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "aborted_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "audience_id",
                    "status",
                    "total_count",
                    "sent_count",
                    "delivered_count",
                    "read_count",
                    "failed_count",
                    "from",
                    "created_at",
                    "started_at",
                    "completed_at",
                    "aborted_at"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/campaigns/{id}/resume": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Resume campaign",
        "description": "Resume a paused campaign. 409 if not `paused`. Requires `campaigns:write`.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "resumed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "audience_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "running",
                        "paused",
                        "complete_sent",
                        "complete_delivered",
                        "aborted"
                      ]
                    },
                    "total_count": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "sent_count": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "delivered_count": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "read_count": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "failed_count": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "from": {
                      "type": "string",
                      "nullable": true
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "started_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "completed_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "aborted_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "audience_id",
                    "status",
                    "total_count",
                    "sent_count",
                    "delivered_count",
                    "read_count",
                    "failed_count",
                    "from",
                    "created_at",
                    "started_at",
                    "completed_at",
                    "aborted_at"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/campaigns/{id}/cancel": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Cancel campaign",
        "description": "Cancel a campaign. 409 if already terminal. Requires `campaigns:write`.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "aborted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "audience_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "running",
                        "paused",
                        "complete_sent",
                        "complete_delivered",
                        "aborted"
                      ]
                    },
                    "total_count": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "sent_count": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "delivered_count": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "read_count": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "failed_count": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "from": {
                      "type": "string",
                      "nullable": true
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "started_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "completed_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "aborted_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "audience_id",
                    "status",
                    "total_count",
                    "sent_count",
                    "delivered_count",
                    "read_count",
                    "failed_count",
                    "from",
                    "created_at",
                    "started_at",
                    "completed_at",
                    "aborted_at"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/chats/{chat_id}/messages": {
      "get": {
        "tags": [
          "Chats"
        ],
        "summary": "List chat messages",
        "description": "Cursor-paginated list of messages in a chat. Supports free-text search (`query`), date range (`since`/`until`), and message-kind filtering (`message_types`). Requires `chats:read`.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "chat_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "history",
                "latest"
              ],
              "default": "latest"
            },
            "description": "Result ordering hint. Default `latest` (newest-first)."
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 200
            },
            "description": "Free-text search across message bodies and captions."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            },
            "description": "Max messages to return."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 512
            },
            "description": "Pagination cursor from a previous response."
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Lower bound (ISO 8601). Only messages with timestamp >= since."
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Upper bound (ISO 8601). Only messages with timestamp <= until."
          },
          {
            "name": "message_types",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "chat",
                  "image",
                  "video",
                  "document",
                  "audio",
                  "ptt",
                  "sticker",
                  "gif",
                  "ptv",
                  "poll_creation",
                  "location",
                  "vcard",
                  "revoked"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "description": "Filter to specific message kinds. Comma-separated or repeated. Useful for \"all PDFs\" (`document`) or \"images today\" (`image`). System events (gp2/revoked/newsletter_notification) are excluded by default unless explicitly listed here."
          }
        ],
        "responses": {
          "200": {
            "description": "messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string"
                          },
                          "chat_id": {
                            "type": "string"
                          },
                          "from": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          },
                          "text": {
                            "type": "string",
                            "nullable": true
                          },
                          "type": {
                            "type": "string"
                          },
                          "from_me": {
                            "type": "boolean"
                          },
                          "ack": {
                            "type": "integer",
                            "nullable": true
                          },
                          "media_url": {
                            "type": "string",
                            "nullable": true
                          },
                          "caption": {
                            "type": "string",
                            "nullable": true
                          },
                          "filename": {
                            "type": "string",
                            "nullable": true
                          },
                          "link_preview": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string",
                                "nullable": true
                              },
                              "description": {
                                "type": "string",
                                "nullable": true
                              },
                              "canonical_url": {
                                "type": "string",
                                "nullable": true
                              },
                              "thumbnail": {
                                "type": "string",
                                "nullable": true
                              }
                            },
                            "required": [
                              "title",
                              "description",
                              "canonical_url",
                              "thumbnail"
                            ],
                            "additionalProperties": false,
                            "nullable": true
                          }
                        },
                        "required": [
                          "key",
                          "chat_id",
                          "from",
                          "timestamp",
                          "text",
                          "type",
                          "from_me",
                          "ack",
                          "media_url",
                          "caption",
                          "filename"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "required": [
                    "data",
                    "has_more",
                    "next_cursor"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/chats/{chat_id}/messages/{key}": {
      "get": {
        "tags": [
          "Chats"
        ],
        "summary": "Get chat message",
        "description": "Fetch a single message by its WhatsApp message key. Requires `chats:read`.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "chat_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string"
                    },
                    "chat_id": {
                      "type": "string"
                    },
                    "from": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "text": {
                      "type": "string",
                      "nullable": true
                    },
                    "type": {
                      "type": "string"
                    },
                    "from_me": {
                      "type": "boolean"
                    },
                    "ack": {
                      "type": "integer",
                      "nullable": true
                    },
                    "media_url": {
                      "type": "string",
                      "nullable": true
                    },
                    "caption": {
                      "type": "string",
                      "nullable": true
                    },
                    "filename": {
                      "type": "string",
                      "nullable": true
                    },
                    "link_preview": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "nullable": true
                        },
                        "description": {
                          "type": "string",
                          "nullable": true
                        },
                        "canonical_url": {
                          "type": "string",
                          "nullable": true
                        },
                        "thumbnail": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "required": [
                        "title",
                        "description",
                        "canonical_url",
                        "thumbnail"
                      ],
                      "additionalProperties": false,
                      "nullable": true
                    }
                  },
                  "required": [
                    "key",
                    "chat_id",
                    "from",
                    "timestamp",
                    "text",
                    "type",
                    "from_me",
                    "ack",
                    "media_url",
                    "caption",
                    "filename"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/groups/{id}/members": {
      "post": {
        "tags": [
          "Groups"
        ],
        "summary": "Add member to group",
        "description": "Add a participant to the group by chat_id (JID) or +E.164 phone. Requires `groups:write`.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "chat_id"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "updated group",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "nullable": true
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "owner": {
                      "type": "string",
                      "nullable": true
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "last_message_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "participant_count": {
                      "type": "integer",
                      "minimum": 0,
                      "nullable": true
                    },
                    "announce": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "restrict": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "participants": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "chat_id": {
                            "type": "string"
                          },
                          "is_admin": {
                            "type": "boolean"
                          },
                          "is_super_admin": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "required": [
                          "chat_id",
                          "is_admin",
                          "is_super_admin",
                          "name"
                        ],
                        "additionalProperties": false
                      },
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "description",
                    "owner",
                    "created_at",
                    "last_message_at",
                    "participant_count",
                    "announce",
                    "restrict",
                    "participants"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/groups/{id}/members/me": {
      "delete": {
        "tags": [
          "Groups"
        ],
        "summary": "Leave group",
        "description": "Leave the group as the authenticated identity. Idempotent — succeeds with 204 even if already not a member. Requires `groups:write`.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "left"
          }
        }
      }
    },
    "/v1/groups/{id}/members/{chatId}": {
      "delete": {
        "tags": [
          "Groups"
        ],
        "summary": "Remove member from group",
        "description": "Remove a participant from the group. Requires `groups:write`.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chatId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "updated group",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "nullable": true
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "owner": {
                      "type": "string",
                      "nullable": true
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "last_message_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "participant_count": {
                      "type": "integer",
                      "minimum": 0,
                      "nullable": true
                    },
                    "announce": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "restrict": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "participants": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "chat_id": {
                            "type": "string"
                          },
                          "is_admin": {
                            "type": "boolean"
                          },
                          "is_super_admin": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "required": [
                          "chat_id",
                          "is_admin",
                          "is_super_admin",
                          "name"
                        ],
                        "additionalProperties": false
                      },
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "description",
                    "owner",
                    "created_at",
                    "last_message_at",
                    "participant_count",
                    "announce",
                    "restrict",
                    "participants"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/groups/{id}/members/{chatId}/admin": {
      "post": {
        "tags": [
          "Groups"
        ],
        "summary": "Promote member to admin",
        "description": "Grant admin privileges to a group member. Requires `groups:write`.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chatId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "updated group",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "nullable": true
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "owner": {
                      "type": "string",
                      "nullable": true
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "last_message_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "participant_count": {
                      "type": "integer",
                      "minimum": 0,
                      "nullable": true
                    },
                    "announce": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "restrict": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "participants": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "chat_id": {
                            "type": "string"
                          },
                          "is_admin": {
                            "type": "boolean"
                          },
                          "is_super_admin": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "required": [
                          "chat_id",
                          "is_admin",
                          "is_super_admin",
                          "name"
                        ],
                        "additionalProperties": false
                      },
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "description",
                    "owner",
                    "created_at",
                    "last_message_at",
                    "participant_count",
                    "announce",
                    "restrict",
                    "participants"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Groups"
        ],
        "summary": "Demote admin to member",
        "description": "Revoke admin privileges from a group member. Requires `groups:write`.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chatId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "updated group",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "nullable": true
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "owner": {
                      "type": "string",
                      "nullable": true
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "last_message_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "participant_count": {
                      "type": "integer",
                      "minimum": 0,
                      "nullable": true
                    },
                    "announce": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "restrict": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "participants": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "chat_id": {
                            "type": "string"
                          },
                          "is_admin": {
                            "type": "boolean"
                          },
                          "is_super_admin": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "required": [
                          "chat_id",
                          "is_admin",
                          "is_super_admin",
                          "name"
                        ],
                        "additionalProperties": false
                      },
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "description",
                    "owner",
                    "created_at",
                    "last_message_at",
                    "participant_count",
                    "announce",
                    "restrict",
                    "participants"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/groups/{id}/picture": {
      "put": {
        "tags": [
          "Groups"
        ],
        "summary": "Set group picture",
        "description": "Replace the group picture. Body is a base64 data URL (PNG/JPEG, ≤20 MiB). Requires `groups:write`.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file_data_url": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 20971520
                  },
                  "file_name": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "file_mime_type": {
                    "type": "string",
                    "maxLength": 127
                  }
                },
                "required": [
                  "file_data_url"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "picture updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "nullable": true
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "owner": {
                      "type": "string",
                      "nullable": true
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
[...]
