{
  "openapi": "3.0.0",
  "info": {
    "title": "Blueticks API",
    "version": "1.0.0",
    "description": "Public API for Blueticks WhatsApp automation."
  },
  "servers": [
    {
      "url": "https://api.blueticks.co"
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "Account metadata for the authenticated API key."
    },
    {
      "name": "Audiences",
      "description": "Reusable contact lists used as targets for messages and campaigns."
    },
    {
      "name": "Campaigns",
      "description": "Schedule audiences for paced bulk delivery with pause/resume/cancel controls."
    },
    {
      "name": "Chats",
      "description": "Read WhatsApp chats and their messages on the connected engine."
    },
    {
      "name": "Contacts",
      "description": "Read WhatsApp contacts known to the connected engine."
    },
    {
      "name": "Engines",
      "description": "Inspect or control the WhatsApp engine(s) connected to the workspace."
    },
    {
      "name": "Groups",
      "description": "Create and manage WhatsApp groups via the connected engine."
    },
    {
      "name": "Newsletters",
      "description": "Create and inspect WhatsApp newsletters (channels) via the connected engine."
    },
    {
      "name": "Ping",
      "description": "Health/identity probe — verifies the API key and echoes its scopes."
    },
    {
      "name": "Scheduled Messages",
      "description": "Send or schedule WhatsApp messages via the user-messages queue. Each request creates a queued send — set `send_at` (RFC 3339) to defer delivery, omit it to send immediately. List, retrieve, edit, and cancel queued sends."
    },
    {
      "name": "Webhooks",
      "description": "Register URLs to receive signed HTTPS POSTs on Blueticks events."
    }
  ],
  "paths": {
    "/v1/ping": {
      "get": {
        "tags": [
          "Ping"
        ],
        "summary": "Ping",
        "description": "Probe the API: returns the account ID, key prefix, and granted scopes for the authenticated API key. Useful as a connection test and to inspect what an integration is allowed to do. No scope required.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account_id": {
                      "type": "string",
                      "description": "The account ID the API key belongs to."
                    },
                    "key_prefix": {
                      "type": "string",
                      "description": "Public prefix of the API key (first 8 chars, never the full secret)."
                    },
                    "scopes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Scopes granted to this API key."
                    }
                  },
                  "required": [
                    "account_id",
                    "key_prefix",
                    "scopes"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid params or body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — see `error.details` for per-field issues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — back off and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "ping.list"
      }
    },
    "/v1/account": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get account",
        "description": "Retrieve the account the API key belongs to.",
        "security": [
          {
            "BearerAuth": [
              "account:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Stable identifier for the account."
                    },
                    "name": {
                      "type": "string",
                      "description": "Account display name."
                    },
                    "timezone": {
                      "type": "string",
                      "nullable": true,
                      "description": "IANA timezone (e.g. \"America/New_York\"), or null if unset."
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "RFC 3339 timestamp of account creation."
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "timezone",
                    "created_at"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid params or body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — see `error.details` for per-field issues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — back off and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "account.list"
      }
    },
    "/v1/scheduled-messages": {
      "get": {
        "tags": [
          "Scheduled Messages"
        ],
        "summary": "List messages",
        "description": "List messages in the user-messages queue (all sources: API, dashboard, extension), newest first (cursor-paginated). Optionally filter by `chat_id` and/or lifecycle `status`.",
        "security": [
          {
            "BearerAuth": [
              "messages:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            },
            "description": "Page size (1-200, default 50)."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 512
            },
            "description": "Opaque cursor from a previous response's `next_cursor`."
          },
          {
            "name": "chat_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+(?:-[0-9]+)?@(?:c\\.us|g\\.us|newsletter)$"
            },
            "description": "Filter to messages addressed to this WhatsApp JID. Matches the recipient stored on the queued/scheduled doc — for sends to a phone number, the JID is `<phone>@c.us`."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "scheduled",
                "queued",
                "sending",
                "delivered",
                "read",
                "failed"
              ]
            },
            "description": "Filter by lifecycle status. `scheduled` returns pending messages whose `send_at` is in the future; `queued` returns pending messages ready for immediate dispatch; `sending`/`delivered`/`read`/`failed` reflect post-dispatch states. Omit to return all statuses."
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "description": "Substring match over message body (case-insensitive)."
          }
        ],
        "responses": {
          "200": {
            "description": "messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "nullable": true
                          },
                          "key": {
                            "type": "string",
                            "nullable": true
                          },
                          "to": {
                            "type": "string"
                          },
                          "from": {
                            "type": "string",
                            "nullable": true
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "text",
                              "media",
                              "poll"
                            ],
                            "description": "Message kind that was sent."
                          },
                          "text": {
                            "type": "string",
                            "nullable": true
                          },
                          "media_url": {
                            "type": "string",
                            "nullable": true
                          },
                          "media_kind": {
                            "type": "string",
                            "enum": [
                              "image",
                              "video",
                              "audio",
                              "document",
                              "sticker",
                              "voice",
                              "gif"
                            ],
                            "nullable": true
                          },
                          "poll_question": {
                            "type": "string",
                            "nullable": true
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "scheduled",
                              "queued",
                              "sending",
                              "delivered",
                              "read",
                              "failed"
                            ]
                          },
                          "send_at": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "sent_at": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          },
                          "delivered_at": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          },
                          "read_at": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          },
                          "failed_at": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          },
                          "failure_reason": {
                            "type": "string",
                            "nullable": true
                          },
                          "link_preview": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string",
                                "nullable": true
                              },
                              "description": {
                                "type": "string",
                                "nullable": true
                              },
                              "canonical_url": {
                                "type": "string",
                                "nullable": true
                              },
                              "thumbnail": {
                                "type": "string",
                                "nullable": true
                              }
                            },
                            "required": [
                              "title",
                              "description",
                              "canonical_url",
                              "thumbnail"
                            ],
                            "additionalProperties": false,
                            "nullable": true
                          }
                        },
                        "required": [
                          "id",
                          "key",
                          "to",
                          "from",
                          "type",
                          "text",
                          "media_url",
                          "media_kind",
                          "poll_question",
                          "status",
                          "send_at",
                          "created_at",
                          "sent_at",
                          "delivered_at",
                          "read_at",
                          "failed_at",
                          "failure_reason"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "required": [
                    "data",
                    "has_more",
                    "next_cursor"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid params or body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — see `error.details` for per-field issues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — back off and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "scheduled-messages.list"
      },
      "post": {
        "tags": [
          "Scheduled Messages"
        ],
        "summary": "Send message",
        "description": "Send a message via WhatsApp. The body is a discriminated union — set the `type` field to one of `text`, `media`, or `poll`.\n\n**Variants:**\n\n- `type: \"text\"` — required `text` (1–4096 chars). Example body:\n  ```json\n  {\"type\":\"text\",\"to\":\"+15551234567\",\"text\":\"hello\"}\n  ```\n- `type: \"media\"` — required `media.url` (HTTPS). Optional `media.kind` (`image` · `video` · `audio` · `document` · `sticker` · `voice`; auto-detected when omitted), `media.caption`, `media.filename`. Example:\n  ```json\n  {\"type\":\"media\",\"to\":\"+15551234567\",\"media\":{\"url\":\"https://cdn.example.com/x.pdf\",\"kind\":\"document\",\"filename\":\"receipt.pdf\"}}\n  ```\n- `type: \"poll\"` — required `poll.question` and `poll.options` (2–12 items). Optional `poll.allow_multiple` (default false). Example:\n  ```json\n  {\"type\":\"poll\",\"to\":\"+15551234567\",\"poll\":{\"question\":\"Pizza?\",\"options\":[\"Yes\",\"No\"]}}\n  ```\n\nAll variants accept optional `send_at` (ISO 8601 ≥10s future, ≤365d), `from` (E.164 sender for multi-session workspaces), and `reply_to` (wire `key` of a prior message to quote).\n\nSee [Sending messages](/docs/messages) for runnable Python / Node / PHP / cURL examples per variant.",
        "security": [
          {
            "BearerAuth": [
              "messages:write"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageRequest"
              },
              "examples": {
                "text": {
                  "summary": "Plain text",
                  "value": {
                    "to": "+15555550100",
                    "type": "text",
                    "text": "Hello from Blueticks!"
                  }
                },
                "text_with_url_shortcut": {
                  "summary": "Text with URL (auto link preview)",
                  "value": {
                    "to": "+15555550100",
                    "type": "text",
                    "url": "https://blueticks.co"
                  }
                },
                "text_link_preview_override": {
                  "summary": "Text with explicit link preview",
                  "value": {
                    "to": "+15555550100",
                    "type": "text",
                    "text": "Check this out: https://blueticks.co",
                    "link_preview": {
                      "title": "Blueticks",
                      "description": "WhatsApp business automation",
                      "canonical_url": "https://blueticks.co"
                    }
                  }
                },
                "media_url": {
                  "summary": "Image from URL",
                  "value": {
                    "to": "+15555550100",
                    "type": "media",
                    "media": {
                      "kind": "image",
                      "url": "https://blueticks.co/favicon.ico",
                      "caption": "Our logo"
                    }
                  }
                },
                "media_document": {
                  "summary": "Document attachment",
                  "value": {
                    "to": "+15555550100",
                    "type": "media",
                    "media": {
                      "kind": "document",
                      "url": "https://example.com/invoice.pdf",
                      "filename": "invoice.pdf"
                    }
                  }
                },
                "poll": {
                  "summary": "Poll",
                  "value": {
                    "to": "+15555550100",
                    "type": "poll",
                    "poll": {
                      "question": "Pizza tonight?",
                      "options": [
                        "Yes",
                        "No",
                        "Maybe"
                      ]
                    }
                  }
                },
                "scheduled_text": {
                  "summary": "Scheduled text (3 hours out)",
                  "value": {
                    "to": "+15555550100",
                    "type": "text",
                    "text": "Reminder: meeting in 3 hours",
                    "send_at": "2026-12-31T12:00:00Z"
                  }
                },
                "reply_to": {
                  "summary": "Reply quoting a prior message",
                  "value": {
                    "to": "+15555550100",
                    "type": "text",
                    "text": "Sounds good!",
                    "reply_to": "true_15555550100@c.us_3EB0ABCDEF1234567890"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 64
            },
            "description": "Optional key for safe retries. Identical bodies with the same key return the original response; differing bodies return 409."
          }
        ],
        "responses": {
          "200": {
            "description": "Idempotency replay",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "nullable": true
                    },
                    "key": {
                      "type": "string",
                      "nullable": true
                    },
                    "to": {
                      "type": "string"
                    },
                    "from": {
                      "type": "string",
                      "nullable": true
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "text",
                        "media",
                        "poll"
                      ],
                      "description": "Message kind that was sent."
                    },
                    "text": {
                      "type": "string",
                      "nullable": true
                    },
                    "media_url": {
                      "type": "string",
                      "nullable": true
                    },
                    "media_kind": {
                      "type": "string",
                      "enum": [
                        "image",
                        "video",
                        "audio",
                        "document",
                        "sticker",
                        "voice",
                        "gif"
                      ],
                      "nullable": true
                    },
                    "poll_question": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "scheduled",
                        "queued",
                        "sending",
                        "delivered",
                        "read",
                        "failed"
                      ]
                    },
                    "send_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "sent_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "delivered_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "read_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "failed_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "failure_reason": {
                      "type": "string",
                      "nullable": true
                    },
                    "link_preview": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "nullable": true
                        },
                        "description": {
                          "type": "string",
                          "nullable": true
                        },
                        "canonical_url": {
                          "type": "string",
                          "nullable": true
                        },
                        "thumbnail": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "required": [
                        "title",
                        "description",
                        "canonical_url",
                        "thumbnail"
                      ],
                      "additionalProperties": false,
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "key",
                    "to",
                    "from",
                    "type",
                    "text",
                    "media_url",
                    "media_kind",
                    "poll_question",
                    "status",
                    "send_at",
                    "created_at",
                    "sent_at",
                    "delivered_at",
                    "read_at",
                    "failed_at",
                    "failure_reason"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "nullable": true
                    },
                    "key": {
                      "type": "string",
                      "nullable": true
                    },
                    "to": {
                      "type": "string"
                    },
                    "from": {
                      "type": "string",
                      "nullable": true
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "text",
                        "media",
                        "poll"
                      ],
                      "description": "Message kind that was sent."
                    },
                    "text": {
                      "type": "string",
                      "nullable": true
                    },
                    "media_url": {
                      "type": "string",
                      "nullable": true
                    },
                    "media_kind": {
                      "type": "string",
                      "enum": [
                        "image",
                        "video",
                        "audio",
                        "document",
                        "sticker",
                        "voice",
                        "gif"
                      ],
                      "nullable": true
                    },
                    "poll_question": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "scheduled",
                        "queued",
                        "sending",
                        "delivered",
                        "read",
                        "failed"
                      ]
                    },
                    "send_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "sent_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "delivered_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "read_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "failed_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "failure_reason": {
                      "type": "string",
                      "nullable": true
                    },
                    "link_preview": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "nullable": true
                        },
                        "description": {
                          "type": "string",
                          "nullable": true
                        },
                        "canonical_url": {
                          "type": "string",
                          "nullable": true
                        },
                        "thumbnail": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "required": [
                        "title",
                        "description",
                        "canonical_url",
                        "thumbnail"
                      ],
                      "additionalProperties": false,
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "key",
                    "to",
                    "from",
                    "type",
                    "text",
                    "media_url",
                    "media_kind",
                    "poll_question",
                    "status",
                    "send_at",
                    "created_at",
                    "sent_at",
                    "delivered_at",
                    "read_at",
                    "failed_at",
                    "failure_reason"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid params or body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — see `error.details` for per-field issues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — back off and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "scheduled-messages.create"
      }
    },
    "/v1/scheduled-messages/{id}": {
      "get": {
        "tags": [
          "Scheduled Messages"
        ],
        "summary": "Get message",
        "description": "Get the current status of a message by ID.",
        "security": [
          {
            "BearerAuth": [
              "messages:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "nullable": true
                    },
                    "key": {
                      "type": "string",
                      "nullable": true
                    },
                    "to": {
                      "type": "string"
                    },
                    "from": {
                      "type": "string",
                      "nullable": true
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "text",
                        "media",
                        "poll"
                      ],
                      "description": "Message kind that was sent."
                    },
                    "text": {
                      "type": "string",
                      "nullable": true
                    },
                    "media_url": {
                      "type": "string",
                      "nullable": true
                    },
                    "media_kind": {
                      "type": "string",
                      "enum": [
                        "image",
                        "video",
                        "audio",
                        "document",
                        "sticker",
                        "voice",
                        "gif"
                      ],
                      "nullable": true
                    },
                    "poll_question": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "scheduled",
                        "queued",
                        "sending",
                        "delivered",
                        "read",
                        "failed"
                      ]
                    },
                    "send_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "sent_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "delivered_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "read_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "failed_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "failure_reason": {
                      "type": "string",
                      "nullable": true
                    },
                    "link_preview": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "nullable": true
                        },
                        "description": {
                          "type": "string",
                          "nullable": true
                        },
                        "canonical_url": {
                          "type": "string",
                          "nullable": true
                        },
                        "thumbnail": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "required": [
                        "title",
                        "description",
                        "canonical_url",
                        "thumbnail"
                      ],
                      "additionalProperties": false,
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "key",
                    "to",
                    "from",
                    "type",
                    "text",
                    "media_url",
                    "media_kind",
                    "poll_question",
                    "status",
                    "send_at",
                    "created_at",
                    "sent_at",
                    "delivered_at",
                    "read_at",
                    "failed_at",
                    "failure_reason"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid params or body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — see `error.details` for per-field issues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — back off and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "scheduled-messages.get"
      },
      "patch": {
        "tags": [
          "Scheduled Messages"
        ],
        "summary": "Update message",
        "description": "Edit a previously-queued message that has not dispatched yet. Accepts a subset of `text`, `media_url`, `media_caption`, `send_at` — at least one is required. Returns 400 once the message has advanced past the editable window (status not in `pending`/`sending`).",
        "security": [
          {
            "BearerAuth": [
              "messages:write"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4096,
                    "description": "New text body. Replaces the previous text/caption."
                  },
                  "media_url": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 2048,
                    "description": "Replace the attached media URL (https only)."
                  },
                  "media_caption": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 1024,
                    "description": "Replace the media's caption. When set alongside `text`, `text` wins."
                  },
                  "send_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Reschedule. ISO 8601 datetime (UTC) in the future."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "nullable": true
                    },
                    "key": {
                      "type": "string",
                      "nullable": true
                    },
                    "to": {
                      "type": "string"
                    },
                    "from": {
                      "type": "string",
                      "nullable": true
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "text",
                        "media",
                        "poll"
                      ],
                      "description": "Message kind that was sent."
                    },
                    "text": {
                      "type": "string",
                      "nullable": true
                    },
                    "media_url": {
                      "type": "string",
                      "nullable": true
                    },
                    "media_kind": {
                      "type": "string",
                      "enum": [
                        "image",
                        "video",
                        "audio",
                        "document",
                        "sticker",
                        "voice",
                        "gif"
                      ],
                      "nullable": true
                    },
                    "poll_question": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "scheduled",
                        "queued",
                        "sending",
                        "delivered",
                        "read",
                        "failed"
                      ]
                    },
                    "send_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "sent_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "delivered_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "read_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "failed_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "failure_reason": {
                      "type": "string",
                      "nullable": true
                    },
                    "link_preview": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "nullable": true
                        },
                        "description": {
                          "type": "string",
                          "nullable": true
                        },
                        "canonical_url": {
                          "type": "string",
                          "nullable": true
                        },
                        "thumbnail": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "required": [
                        "title",
                        "description",
                        "canonical_url",
                        "thumbnail"
                      ],
                      "additionalProperties": false,
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "key",
                    "to",
                    "from",
                    "type",
                    "text",
                    "media_url",
                    "media_kind",
                    "poll_question",
                    "status",
                    "send_at",
                    "created_at",
                    "sent_at",
                    "delivered_at",
                    "read_at",
                    "failed_at",
                    "failure_reason"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid params or body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — see `error.details` for per-field issues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — back off and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "scheduled-messages.update"
      }
    },
    "/v1/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List webhooks",
        "description": "List webhooks in the workspace.",
        "security": [
          {
            "BearerAuth": [
              "webhooks:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            },
            "description": "Page size (default 50, max 200)."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 512
            },
            "description": "Opaque cursor from a previous response's `next_cursor`."
          }
        ],
        "responses": {
          "200": {
            "description": "list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "events": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "enabled",
                              "disabled"
                            ]
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "url",
                          "events",
                          "description",
                          "status",
                          "created_at"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "required": [
                    "data",
                    "has_more",
                    "next_cursor"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid params or body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — see `error.details` for per-field issues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — back off and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "webhooks.list"
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create webhook",
        "description": "Register a new webhook. Returns the signing secret exactly once.",
        "security": [
          {
            "BearerAuth": [
              "webhooks:write"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 2048
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "message.queued",
                        "message.sending",
                        "message.delivered",
                        "message.failed",
                        "message.read",
                        "session.connected",
                        "session.disconnected",
                        "campaign.started",
                        "campaign.paused",
                        "campaign.resumed",
                        "campaign.completed",
                        "campaign.aborted",
                        "new_message_received_webhook",
                        "message_reaction_webhook",
                        "ack_changed_webhook",
                        "participant_joined_via_link_webhook",
                        "participant_added_by_admin_webhook",
                        "participant_left_group_webhook",
                        "participant_kicked_from_group_webhook",
                        "group_admin_changed_webhook",
                        "group_name_changed_webhook",
                        "group_description_changed_webhook",
                        "group_message_pinned_webhook",
                        "poll_vote_webhook",
                        "reply_to_my_message_webhook",
                        "message_deleted_revoked_webhook",
                        "message_edited_webhook"
                      ]
                    },
                    "minItems": 1
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 120
                  }
                },
                "required": [
                  "url",
                  "events"
                ],
                "additionalProperties": false
              },
              "examples": {
                "delivery_status": {
                  "summary": "Subscribe to delivery lifecycle events",
                  "value": {
                    "url": "https://example.com/webhooks/blueticks",
                    "events": [
                      "message.sent",
                      "message.delivered",
                      "message.read",
                      "message.failed"
                    ],
                    "description": "Delivery lifecycle stream"
                  }
                },
                "inbound_messages": {
                  "summary": "Receive inbound messages",
                  "value": {
                    "url": "https://example.com/webhooks/inbound",
                    "events": [
                      "message.received"
                    ],
                    "description": "Inbound message stream"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "enabled",
                        "disabled"
                      ]
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "secret": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "url",
                    "events",
                    "description",
                    "status",
                    "created_at",
                    "secret"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid params or body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — see `error.details` for per-field issues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — back off and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "webhooks.create"
      }
    },
    "/v1/webhooks/{id}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get webhook",
        "description": "Get a webhook by id.",
        "security": [
          {
            "BearerAuth": [
              "webhooks:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "webhook",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "enabled",
                        "disabled"
                      ]
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "url",
                    "events",
                    "description",
                    "status",
                    "created_at"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid params or body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — see `error.details` for per-field issues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — back off and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "webhooks.get"
      },
      "patch": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Update webhook",
        "description": "Update a webhook.",
        "security": [
          {
            "BearerAuth": [
              "webhooks:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 2048
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "message.queued",
                        "message.sending",
                        "message.delivered",
                        "message.failed",
                        "message.read",
                        "session.connected",
                        "session.disconnected",
                        "campaign.started",
                        "campaign.paused",
                        "campaign.resumed",
                        "campaign.completed",
                        "campaign.aborted",
                        "new_message_received_webhook",
                        "message_reaction_webhook",
                        "ack_changed_webhook",
                        "participant_joined_via_link_webhook",
                        "participant_added_by_admin_webhook",
                        "participant_left_group_webhook",
                        "participant_kicked_from_group_webhook",
                        "group_admin_changed_webhook",
                        "group_name_changed_webhook",
                        "group_description_changed_webhook",
                        "group_message_pinned_webhook",
                        "poll_vote_webhook",
                        "reply_to_my_message_webhook",
                        "message_deleted_revoked_webhook",
                        "message_edited_webhook"
                      ]
                    },
                    "minItems": 1
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 120,
                    "nullable": true
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "enabled",
                      "disabled"
                    ]
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "enabled",
                        "disabled"
                      ]
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "url",
                    "events",
                    "description",
                    "status",
                    "created_at"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid params or body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — see `error.details` for per-field issues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — back off and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "webhooks.update"
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete webhook",
        "description": "Delete a webhook.",
        "security": [
          {
            "BearerAuth": [
              "webhooks:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "deleted": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "deleted"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid params or body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — see `error.details` for per-field issues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — back off and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "webhooks.delete"
      }
    },
    "/v1/audiences": {
      "get": {
        "tags": [
          "Audiences"
        ],
        "summary": "List audiences",
        "security": [
          {
            "BearerAuth": [
              "audiences:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            },
            "description": "Page size (default 50, max 200)."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 512
            },
            "description": "Opaque cursor from a previous response's `next_cursor`."
          }
        ],
        "responses": {
          "200": {
            "description": "audiences",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "contact_count": {
                            "type": "integer",
                            "minimum": 0
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "contact_count",
                          "created_at"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "required": [
                    "data",
                    "has_more",
                    "next_cursor"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid params or body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — see `error.details` for per-field issues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — back off and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "audiences.list"
      },
      "post": {
        "tags": [
          "Audiences"
        ],
        "summary": "Create audience",
        "description": "Create a new audience. Returns the audience with `contact_count: 0`. Requires `audiences:write`.",
        "security": [
          {
            "BearerAuth": [
              "audiences:write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "contacts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "to": {
                          "type": "string",
                          "description": "Recipient. Either +E164 phone (e.g. +14155551234) or a WhatsApp JID (e.g. 14155551234@c.us). Stored as +E164."
                        },
                        "variables": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string",
                            "maxLength": 1024
                          },
                          "description": "Per-contact substitution values used by campaign templates.\nEach key becomes a token usable as `{key}` in a campaign `text`. Lookup is case-insensitive (e.g. `{firstName}` resolves `firstname`).\nBuilt-in tokens always available regardless of variables: `{whatsappname}`, `{displayname}`, `{phone}`, `{mobile}`. Setting a variable with the same name overrides the built-in.\nStorage: keys are persisted as text-cell column titles on the audience board, so values flow back via audiences.get under the same names.\nLimits: at most 32 keys per contact; values up to 1024 chars; keys must match /^[A-Za-z_][A-Za-z0-9_]{0,31}$/."
                        }
                      },
                      "required": [
                        "to"
                      ],
                      "additionalProperties": false
                    },
                    "maxItems": 1000
                  }
                },
                "required": [
                  "name"
                ],
                "additionalProperties": false
              },
              "examples": {
                "empty": {
                  "summary": "Empty audience (add contacts later)",
                  "value": {
                    "name": "Q4 Newsletter Recipients"
                  }
                },
                "with_contacts": {
                  "summary": "Audience seeded with contacts and variables",
                  "value": {
                    "name": "Q4 Newsletter Recipients",
                    "contacts": [
                      {
                        "to": "+15555550100",
                        "variables": {
                          "firstname": "Alex",
                          "plan": "pro"
                        }
                      },
                      {
                        "to": "+15555550101",
                        "variables": {
                          "firstname": "Sam",
                          "plan": "free"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "contact_count": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "contact_count",
                    "created_at"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid params or body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — see `error.details` for per-field issues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — back off and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "audiences.create"
      }
    },
    "/v1/audiences/{id}": {
      "get": {
        "tags": [
          "Audiences"
        ],
        "summary": "Get audience",
        "security": [
          {
            "BearerAuth": [
              "audiences:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "audience",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "contact_count": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "contact_count",
                    "created_at"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid params or body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — see `error.details` for per-field issues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — back off and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "audiences.get"
      },
      "patch": {
        "tags": [
          "Audiences"
        ],
        "summary": "Update audience",
        "description": "Rename an audience or update its variable schema. Requires `audiences:write`.",
        "security": [
          {
            "BearerAuth": [
              "audiences:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  }
                },
                "required": [
                  "name"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "contact_count": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "contact_count",
                    "created_at"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid params or body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — see `error.details` for per-field issues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — back off and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "audiences.update"
      },
      "delete": {
        "tags": [
          "Audiences"
        ],
        "summary": "Delete audience",
        "description": "Soft-delete an audience. 409 if it`s referenced by an active campaign. Returns the deleted ref. Requires `audiences:write`.",
        "security": [
          {
            "BearerAuth": [
              "audiences:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
[...]
